$firstcolor: #000099;
$secondcolor: #a5a4a5;
$thirdcolor: #f2f2f2;
$fourthcolor: #3385ff;
$fifthcolor:  #a6a6a6;
$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #262626;
$nav-font-color: #ffffff;
$link-hover-color: #2581DC;
